<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
{{jquery | safe}}
{{css | safe}}
{{jsmart | safe}}
{{menu | safe}}
<br>
<h1 align=center>{{title}}様のカルテ追加</h1>
<form action=record-add-check method=POST>
<table align=center border=1 style="border-collapse: collapse">
    <tr><td>
    <textarea name=cont required></textarea>
    <input type=hidden name=id value={{user_id | safe}}>
    <input type=submit value=送信>
    </td></tr>
</table>
<input type=hidden name=record-add value="{{token | safe}}">
</form>
{{res | safe}}