<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
{{jquery | safe}}
{{css | safe}}
{{jsmart | safe}}
{{menu | safe}}
<br>
<h1 align=center>{{title}}</h1>
<a href=home><h4 align=center>ホームに戻る</h4></a>
<form method="POST" action="vital">
<table align="center">
    <tr><td>体温</td><td><input type="number" step="0.1" min="33" max="45" name=temp required></td></tr>
    <tr><td>血圧(上)</td><td><input type="number" name=press_max required></td></tr>
    <tr><td>血圧(下)</td><td><input type="number" name=press_min required></td></tr>
    <tr><td>心拍数</td><td><input type="number" name=beat required></td></tr>
    <tr><td>食事量</td><td><input type="number" name=eat required></td></tr>
    <tr><td>酸素飽和度</td><td><input type="number" name=spo2 required></td></tr>
    <tr><td colspan="2"><input type=submit value="送信"></tr>
</table>
{{res | safe}}
</form>